.flash {
  position:absolute;
  top:24px;
  right:24px;
  height:24px;
  background:rgba(0, 0, 0, 0.1);
  border:1px solid rgba(0, 0, 0, 0.2);
  border-radius:3px;
  box-shadow:0 0 3px rgba(0, 0, 0, 0.5);
  
  p {
    padding:0 12px;
    font-size:12px;
    font-weight:bold;
  }
}

.notice {
  color:rgba(0, 0, 0, 0.8);
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.2);
}

.alert {
  color:rgba(200, 0, 0, 0.8);
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.8);
}
